<div class="form-container">
  <h2>{{ editMode ? 'Edit Employee' : 'Add New Employee' }}</h2>

  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="first_name" placeholder="First Name" />
    <input type="text" formControlName="last_name" placeholder="Last Name" />
    <input type="email" formControlName="email" placeholder="Email" />
    <input type="text" formControlName="designation" placeholder="Designation" />
    <input type="text" formControlName="department" placeholder="Department" />
    <input type="number" formControlName="salary" placeholder="Salary" />
    <input type="date" formControlName="date_of_joining" />

    <label>Gender:</label>
    <select formControlName="gender">
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>

    <label>Upload Photo:</label>
    <input type="file" (change)="onFileSelected($event)" />
    <img *ngIf="selectedImage" [src]="selectedImage" alt="Employee Photo" width="100" />

    <div class="button-group">
      <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-save">
        <i class="fas fa-save"></i> {{ editMode ? 'Update' : 'Save' }}
      </button>
      <button type="button" (click)="cancel()" class="btn btn-cancel">
        <i class="fas fa-times-circle"></i> Cancel
      </button>
    </div>
    
    
    
    
  </form>
</div>